#login_form, #registration_form{
    border: 2px solid #ccc;
    float: left;
    width: 206px;
    height: 300px;
    padding: 5px;
}

#login_form input[type=submit], #registration_form input[type=submit]{
    border: none;
    background-color: darkgreen;
    font-weight: bold;
    color: white;
    width: 100%;
}

#login_form input, #registration_form input{
    width: 97%;
    display: inline-block;
}

#login_form h1, #registration_form h1{
    text-align: center;
}

#login_intro, #registration_form{
    float: left;
    width: 461px;
    padding-top: 7px;
    padding-left: 15px;
}

#login_intro p, #registration_form p{
    font-size: 12px;
}
